$width_container: 1140px;
$color_blue: #1F3F68;
$color_white: #FFFFFF;
$color_back_button: #5A98D0;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: $color_blue;
    letter-spacing: 0.05em;
    opacity: 0.6;
    font-weight: 400;
}

.header {
    min-height: 768px;
    background: linear-gradient(0deg,
            #EBF3FB 8.84%, rgba(152, 195,
                232, 0) 31.12%);

    &_container {
        max-width: $width_container;
        margin: 0 auto;
    }

    &_box {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &_navigation ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-top: 42px;
    }

    &_banner {
        padding-top: 115px;
        flex-grow: 1;
        background-image: url("../picture/illustration.png");
        background-repeat: no-repeat;
        background-position: right center;
    }

    .zagolovok_first {
        width: 504px;
        font-size: 64px;
        font-weight: 300;
        line-height: 74px;
        color: $color_blue;
        letter-spacing: 0.04em;
        margin-bottom: 32px;
    }

    .text_main {
        width: 38%;
    }

    &_button {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: $color_white;
        text-align: center;
        background: $color_back_button;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
        padding: 15px 50px 15px 50px;
        display: inline-block;
        margin-top: 71px;
    }

    &_contact {
        min-height: 129px;
    }
}

.main {
    display: flex;

    &_container {
        max-width: $width_container;
        margin: 0 auto;
    }

    .what-we-do {
        padding-top: 64px;
    }

    &_zagolovok_third {
        font-size: 36px;
        font-weight: 300;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #000000;
        text-align: center;
    }

    &_catalog {
        display: flex;
        justify-content: space-between;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &_card {
        width: 359px;
        padding: 44px 32px;
        box-sizing: border-box;
        background: $color_white;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        .card_img {
            align-self: center;
            margin-bottom: 51px;
        }

        .card_zagolovok {
            font-size: 20px;
            line-height: 30px;
            color: $color_blue;
            letter-spacing: 0.05em;
            margin-bottom: 14px;
        }

        .card_text {
            margin-bottom: 17px;
        }

        .card_link {
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #5A98D0;
            text-decoration: none;
        }

        .card_link span {
            margin-left: 5px;
        }
    }

    &_discription {
        margin-bottom: 112px;
    }

    &_discription_text {
        width: 67%;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #222222;
        margin: 32px auto 62px;
    }

    &_discription_item {
        position: relative;
        flex-grow: 1;
    }

    &_discription_img {
        width: 100%;
    }

    &_discription_item_text {
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        text-align: right;
        letter-spacing: 0.05em;
        color: $color_white;
        position: absolute;
        top: 64px;
        right: 64px;
    }

    &_discription_parent {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
    }

    &_discription_item_second {
        margin-right: 32px;
    }

    &_discription_item_text_second {
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        text-align: right;
        letter-spacing: 0.05em;
        color: $color_white;
        position: absolute;
        top: 32px;
        left: 32px;
    }

    &_contact {
        height: 250px;
        background: url("../picture/Contact_us.jpg") no-repeat center;
        background-size: cover;
    }

}

.contact {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    color: $color_white;
    padding-top: 51px;
    font-family: Roboto, sans-serif;
    line-height: 74px;
    letter-spacing: 0.04em;
}

.main_contact_text {
    max-width: 75%;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: $color_white;
    opacity: 0.6;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 49px;
}

.main_second {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main_contacts {
    width: 301px;
    margin-top: 135px;
    margin-right: 102px;
}

.main_form {
    width: 540px;
    height: 800px;
    background: $color_white;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-top: 57px;
    padding: 56px;
    box-sizing: border-box;
}

.main_map {
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 112px;
}

.zagolovok_fourth {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 40px;
    margin-bottom: 24px;
}

.main_second_text {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: $color_blue;
    opacity: 0.6;
}

.main_contacts ul li {
    list-style: none;
    background: url("../picture/icon_phone.svg") no-repeat 0 4px;
    padding-left: 37px;
}

.main_contacts_site {
    list-style: none;
    background: url("../picture/icon_internet.svg") no-repeat 0 4px;
    padding-left: 37px;
}

.main_contacts_email {
    list-style: none;
    background: url("../picture/icon_mail.svg") no-repeat 0 4px;
    padding-left: 37px;
}

.main_second_text li:first-child {
    margin-bottom: 16px;
}

.main_second_text li a {
    text-decoration: none;
    color: inherit;
}

.zagolovok_contacts {
    margin-top: 56px;
}

.main_form_zagolovok {
    margin-top: 0;
}

.zagolovok_forms {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    opacity: 0.8;
    color: $color_blue;
    margin-bottom: 8px;
}

.forms {
    border: 1px solid #356EAD;
    width: 428px;
    height: 72px;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    margin-bottom: 32px;
}

.forms[placeholder] {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $color_blue;
    opacity: 0.2;
    padding-left: 42px;
}

.forms_textarea {
    margin-bottom: 0;
    height: 144px;
}

.forms_textarea[placeholder] {
    padding-top: 21px;
}

.buttom {
    background: $color_back_button;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 428px;
    height: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: center;
    color: $color_white;
    text-transform: uppercase;
    margin-top: 72px;
}

.footer {
    min-height: 657px;
    background: #316099;

    &_container {
        max-width: $width_container;
        margin: 0 auto;
    }

    &_first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    &_zagolovok {
        width: 34%;
        font-weight: 400;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: $color_white;
        padding-top: 91px;
    }

    &_text {
        width: 51%;
        color: $color_white;
        margin-top: 32px;
        margin-bottom: 96px;
    }

    &_button {
        width: 236px;
        height: 56px;
        color: $color_white;
        text-align: center;
        background: #5A98D0;
        text-decoration: none;
        display: inline-block;
        line-height: 56px;
    }

    &_hor {
        opacity: 0.4;
        border: 1px solid $color_white;
    }

    &_container_second {
        max-width: $width_container;
        margin: 0 auto;
    }

    &_list {
        display: flex;
        justify-content: space-between;
        color: $color_white;
        margin-top: 64px;
        opacity: 1;
        list-style-position: inside;
    }

    &_right {
        color: $color_white;
        margin-top: 64px;
    }
}

@media (max-width: 1024px) {

    .header_container,
    .main_container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header_contact {
        min-height: 99px;
    }

    .footer_container,
    .footer_container_second {
        padding-left: 124px;
        padding-right: 124px;
    }

    .header_banner {
        background-position: right 280px;
        background-size: 44%;
    }

    .main_catalog {
        flex-direction: column;
        align-items: center;
    }

    .main_card {
        margin-bottom: 32px;
    }

    .main_form {
        margin-top: 64px;
        width: 520px;
        height: 780px;
        padding: 54px;
    }

    .forms {
        width: 412px;
        height: 70px;
    }

    .forms_textarea {
        height: 140px;
    }

    .buttom {
        width: 412px;
        height: 70px;
    }

    .main_second {
        flex-direction: column;
        align-items: center;
    }

    .main_contacts {
        margin-right: 0;
        margin-top: 64px;
    }

    .main_map {
        margin: 0 auto;
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .footer_zagolovok {
        width: 80%;
        padding-top: 47px;
    }

    .footer_text {
        width: 83%;
        margin-bottom: 64px;
    }

    .footer_button {
        width: 133px;
        height: 32px;
        line-height: 32px;
    }

    .footer_list {
        flex-direction: column;
    }

    .footer_list li {
        margin-bottom: 25px;
    }

    .footer_right {
        padding-bottom: 64px;
    }
}

@media (max-width:667px) {
    .header {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .main_container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer_container,
    .footer_container_second {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header_contact {
        height: 83px;
    }

    .contact {
        font-size: 24px;
        padding-top: 48px;
        line-height: 28px;
    }

    .main_contact_text {
        max-width: 100%;
        font-size: 16px;
        letter-spacing: 0.04em;
        margin-top: 32px;
        margin-bottom: 61px;
    }

    .header .zagolovok_first {
        width: 100%;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 12px;
        text-align: center;
    }

    .header .text_main {
        width: 100%;
        text-align: center;
    }

    .zagolovok_fourth {
        margin-top: 32px;
    }

    .header_navigation ul {
        padding-top: 24px;
    }

    .header_banner {
        padding-top: 33px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .header_button {
        font-size: 12px;
        padding: 0 12px;
    }

    .main_zagolovok_third {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .main_catalog {
        padding-top: 32px;
    }

    .main_card {
        width: 100%;
        padding-top: 32px;
    }

    .main_discription {
        width: 100%;
    }

    .main_discription_text {
        margin: 32px auto 82px;
        width: 100%;
    }

    .main_discription_item_text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .main_form {
        margin-top: 32px;
        width: 343px;
        height: 514px;
        padding: 36px;
    }

    .main_form_zagolovok {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        margin-top: 0;
        margin-bottom: 0;
    }

    .zagolovok_forms {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.04em;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .forms {
        width: 272px;
        height: 47px;
        margin-bottom: 0;
    }

    .forms_textarea {
        height: 93px;
    }

    .forms_textarea[placeholder] {
        padding-top: 13px;
    }

    .buttom {
        width: 272px;
        height: 47px;
        margin-top: 46px;
    }

    .main_map {
        margin: 0 auto;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 343px;
    }

    .main_discription_item_text_second {
        font-size: 16px;
        line-height: 19px;
        top: 26px;
        left: 16px;
    }

    .main-discription_parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .main_discription_item_second {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer_first {
        flex-direction: column;
    }

    .footer_zagolovok {
        width: 100%;
        padding-top: 18px;
        text-align: center;
    }

    .footer_text {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer_button {
        margin-bottom: 41px;
    }

    .footer_list li {
        margin-bottom: 18px;
    }

    .footer_right {
        padding-bottom: 32px;
        text-align: center;
    }
}